<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vote.user %>
</p>

<p>
  <b>Course:</b>
  <%= @vote.course %>
</p>

<p>
  <b>Value:</b>
  <%= @vote.value %>
</p>

<p>
  <b>When:</b>
  <%= @vote.when %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
